.App h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.box {
    margin-top: 15px;
    margin-left: 50px;
    border: 1px solid grey;
    height: 30px;
    width: 96%;
    border-radius: 5px;
}